# Database access parameters
DB_USER=dummy_username
DB_NAME=dummy_database_name
DB_PASSWD=dummy_password
DB_ADDR=127.0.0.1
DB_PORT=3306

# Noise generating algorithm parameters
MEAN=1
SENS=1
EPSILON=1
DELTA=1
